<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>模态框样式</title>
  <style>
    .myModal {
      padding-left: 0;
    }
  </style>
</head>
<body>

<div id="aaa"></div>
<div>

  <input id="text" type="button" value="点击"/>

  <input id="text1" type="button" value="点击"/>

  <input id="text2" type="text" value="love"/>

</div>


</body>
</html>
